<div class="groupRoomSettings_menu_background">
    <div class="groupRoomSettings_menu">

          <div class="groupRoomSettings_content">
            <div class="groupRoomSettings_listWrap">
            <div class="groupRoomSettings_list">
                <div class="groupRoomSettings_icon">
                <i class="bi bi-info-circle-fill"></i></div>
                <div  class="groupRoomSettings_list_text">View group info</div>
            </div>
            </div>

            <div class="groupRoomSettings_listWrap">
            <div class="groupRoomSettings_list">
                <div class="groupRoomSettings_icon">
                <i class="bi bi-bell-slash-fill"></i></div>
                <div class="groupRoomSettings_list_text">Mute notifications</div>
                </div>
            </div>
            <div class="groupRoomSettings_listWrap">
                <div class="groupRoomSettings_list">
                <div class="groupRoomSettings_icon">
                <i class="bi bi-x-circle-fill"></i></div>
                <div class="groupRoomSettings_list_text">Delete history</div>
                </div>
            </div>
            <div class="groupRoomSettings_listWrap">
            <div class="groupRoomSettings_list">
                <div class="groupRoomSettings_icon">
                <i class="bi bi-arrow-left-circle-fill"></i></div>
                <div  class="groupRoomSettings_list_text">Leave group</div>
            </div>
            </div>
            </div>
    
</div>
</div>