<div *ngIf="isVisible"  class="userSettings_menu_background" (click)="disableVisible($event)" >
    <div class="userSettings_menu">
        <div class="userSettings_avatar">
            <div class="userSettings_userName">UserName</div>
            <div class="userSettings_escButton"(click)="disableVisibleFromButton()"><i class="bi bi-x-lg"></i></div>
        </div>
              <div class="userSettings_content">
                <div class="userSettings_listWrap">
                <div class="userSettings_list">
                    <div class="userSettings_icon">
                    <i class="bi bi-bell-slash-fill"></i></div>
                    <div class="userSettings_list_text">Mute all notifications</div>
                    </div>
                </div>
                <div class="userSettings_listWrap">
                    <div class="userSettings_list">
                    <div class="userSettings_icon">
                    <i class="bi bi-moon-fill"></i></div>
                    <div class="userSettings_list_text">Night mode</div>
                    </div>
                </div>
                <div class="userSettings_listWrap">
                    <div class="userSettings_list">
                    <div class="userSettings_icon">
                        <i class="bi bi-people-fill"></i></div>
                    <div class="userSettings_list_text">Create group</div>
                    </div>
                </div>
                <div class="userSettings_listWrap">
                    <div class="userSettings_list">
                    <div class="userSettings_icon">
                        <i class="bi bi-megaphone-fill"></i></div>
                    <div class="userSettings_list_text">Create channel</div>
                    </div>
                </div>
                <div class="userSettings_listWrap">
                <div class="userSettings_list">
                    <div class="userSettings_icon userSettings_icon_logout">
                    <i class="bi bi-arrow-left-square-fill"></i></div>
                    <div  class="userSettings_list_text">Logout</div>
                </div>
                </div>
                </div>
        
    </div>
</div>