<div class="userInfo_background">
    <div class="userInfo_menu">
            <div class="userInfo_header">
                <div class="userInfo_header_title">User info</div>
                <div class="userInfo_header_buttonsHolder">
                    <div class="userInfo_header_button_menu icon_button"><i class="bi bi-three-dots-vertical"></i></div>
                    <div class="userInfo_header_button_esc icon_button"><i class="bi bi-x-lg"></i></div>
                    
                    
                </div>
            </div>
              <div class="userInfo_content">
                <div class="userInfo_avatarHolder">
                    <div class="userInfo_avatar">
                        <div class="userInfo_nameStatusBar">
                        <div class="userInfo_name">UserName</div>
                        <div class="userInfo_status">online</div>
                    </div></div>
                    
                </div>
                
                <div class="userInfo_description">
                <div class="userInfo_listWrap">
                <div class="userInfo_list">
                    <div class="userInfo_icon">
                    <i class="bi bi-telephone-fill"></i></div>
                    <div class="userInfo_list_text">+380 88 888 88 88</div>
                    </div>
                </div>
                
                <div class="userInfo_listWrap">
                    <div class="userInfo_list">
                    <div class="userInfo_icon">
                    <i class="bi bi-envelope-fill"></i></div>
                    <div class="userInfo_list_text">userEmail@gmail.com</div>
                    </div>
                </div>
                <div class="userInfo_listWrap">
                <div class="userInfo_list">
                    <div class="userInfo_icon">
                    <i class="bi bi-info-circle-fill"></i></div>
                    <div class="userInfo_list_text">67 65 74 20 61 20 6c 69 66 65</div>
                    </div>
                </div>
                </div>
<!--								===================================================================================-->
                <div class="userInfo_clickableBar">
                <div class="userInfo_listWrap userInfo_clickable">
                    <div class="userInfo_list ">
                    <div class="userInfo_icon">
                    <i class="bi bi-bell-slash-fill"></i></div>
                    <div class="userInfo_list_text">Mute notifications</div>
                    </div>
                </div>
                <div class="userInfo_listWrap userInfo_clickable">
                    <div class="userInfo_list">
                    <div class="userInfo_icon">
                    <i class="bi bi-x-circle-fill"></i></div>
                    <div class="userInfo_list_text">Delete history</div>
                    </div>
                </div>
                <div class="userInfo_listWrap userInfo_clickable">
                    <div class="userInfo_list">
                    <div class="userInfo_icon">
                    <i class="bi bi-trash-fill"></i></div>
                    <div  class="userInfo_list_text">Delete chat</div>
                    </div>
                </div>
                <div class="userInfo_listWrap userInfo_clickable">
                    <div class="userInfo_list ">
                    <div class="userInfo_icon">
                    <i class="bi bi-person-x-fill"></i></div>
                    <div  class="userInfo_list_text">Block user</div>
                    </div>
                </div>
                    </div>
                    
                </div>
        
    </div>
    </div>