<div class="friendRoomSettings_menu_background">
    <div class="friendRoomSettings_menu">

          <div class="friendRoomSettings_content">

            <div class="friendRoomSettings_listWrap">
                <div class="friendRoomSettings_list">
                <div class="friendRoomSettings_icon">
                <i class="bi bi-person-lines-fill"></i></div>
                <div  class="friendRoomSettings_list_text">View profile</div>
                </div>
            </div>
            <div class="friendRoomSettings_listWrap">
                <div class="friendRoomSettings_list">
                <div class="friendRoomSettings_icon">
                <i class="bi bi-bell-slash-fill"></i></div>
                <div class="friendRoomSettings_list_text">Mute notifications</div>
                </div>
            </div>
            <div class="friendRoomSettings_listWrap">
                <div class="friendRoomSettings_list">
                <div class="friendRoomSettings_icon">
                <i class="bi bi-x-circle-fill"></i></div>
                <div class="friendRoomSettings_list_text">Delete history</div>
                </div>
            </div>
            <div class="friendRoomSettings_listWrap">
                <div class="friendRoomSettings_list">
                <div class="friendRoomSettings_icon">
                <i class="bi bi-trash-fill"></i></div>
                <div  class="friendRoomSettings_list_text">Delete chat</div>
                </div>
            </div>
            </div>
    
</div>
</div>