.groupMessageSpace {

    width: auto;
    padding-bottom: 3px;
    padding-left: 5px;
}
.groupMessageSpace_mainMessageHolder_message {

    padding-top: 15px;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 0px 7px 7px;
    word-wrap: break-word;
    max-width: 70%;
    display: inline-block;
    margin-left: 40px;
}
.groupMessageSpace_additionalMessageHolder_message_floatMenuHolder {
	text-align: right;
	margin-bottom: -30px;
}

.groupMessageSpace_mainMessageHolder_message_foatMenuHolder {
	text-align: right;
	margin-bottom: -30px;
}
.floatMenuStyle{
	background-color: #f1f1f1;
	opacity: 1;
}

.groupMessageSpace_additionalMessageHolder_message_emojiReaction {
	margin-top: 5px;
}
.groupMessageSpace_additionalMessageHolder_message_floatMenu_addEmoji_button {
	display: inline-block;
}

.groupMessageSpace_additionalMessageHolder_message_floatMenu_reply_button {
	display: inline-block;
}

.groupMessageSpace_additionalMessageHolder_message_floatMenu_other_button {
	display: inline-block;
}
.groupMessageSpace_mainMessageHolder_message_floatMenu:hover{
	opacity: 1;
}
.groupMessageSpace_additionalMessageHolder_message_floatMenu:hover{
	opacity: 1;
}
.groupMessageSpace_additionalMessageHolder_message_floatMenu {
    padding: 5px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    text-align: right;
    opacity: 0.5;
    bottom: 25px;
}
.groupMessageSpace_mainMessageHolder_message_floatMenuHolder {
    text-align: right;
    margin-bottom: -37px;
}
.groupMessageSpace_additionalMessageHolder_message {

    padding-top: 10px;
    padding-right: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    word-wrap: break-word;
    max-width: 70%;
    margin-top: 3px;
    display: inline-block;
    margin-left: 40px;
}
.groupMessageSpace_info_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 20px;
    border-radius: 20px;
    margin-top: -20px;
    background-color: #e5b346;
}
.groupMessageSpace_mainMessageHolder_message_floatMenu {

    padding: 5px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    text-align: right;
    bottom: 30px;
    opacity: 0.5;
}
.groupMessageSpace_mainMessageHolder_message_floatMenu_other_button {
    padding-left: 2px;
    display: inline-block;
}
.groupMessageSpace_mainMessageHolder_message_emojiReaction   {
    padding-top: 7px;
}
.groupMessageSpace_mainMessageHolder_message_floatMenu_reply_button {
    display: inline-block;
}
.groupMessageSpace_mainMessageHolder_message_senderName {
    padding-bottom: 5px;
    font-weight: bold;
}
.groupMessageSpace_info_time {
    display: inline-block;

}
.groupMessageSpace_info_deliveryStatus {
    display: inline-block;
    margin-left: 5px;


}
.groupMessageSpace_mainMessageHolder_message_floatMenu_addEmoji_button {
    padding-left: 10px;
    display: inline-block;
}