<div class="groupMessageSpace">
    <div class="groupMessageSpace_info">
        <div class="groupMessageSpace_info_avatar"></div>
        <div class="groupMessageSpace_info_time">{{messageData.date | date}}</div>
        <div class="groupMessageSpace_info_deliveryStatus"><i class="fas fa-spinner"></i></div>

    </div> 

<div class="groupMessageSpace_mainMessageHolder">
<div class="groupMessageSpace_mainMessageHolder_message friendMessageBackgroundColorStyle">
<!--<div class="groupMessageSpace_mainMessageHolder_message_foatMenuHolder">
    <div class="groupMessageSpace_mainMessageHolder_message_floatMenu floatMenuStyle">
        <div class="groupMessageSpace_mainMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
            <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
            <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
        </div>
        <div class="groupMessageSpace_mainMessageHolder_message_floatMenu_reply_button">
            <i class="fas fa-reply mainIconStyle"></i>
        </div>
        <div class="groupMessageSpace_mainMessageHolder_message_floatMenu_other_button" >
            <i class="fas fa-ellipsis-h mainIconStyle"></i>
        </div>
    </div>
</div>   -->
<div class="groupMessageSpace_mainMessageHolder_message_senderName" href="ref to user profile" id="">{{getNickName(messageData.userId)}}</div>




<div class="groupMessageSpace_mainMessageHolder_message_messageText">
{{messageData.data}}
</div>
<div class="myMessageSpace_mainMessageHolder_ContentPreview">
    <app-content-preview-inner-message></app-content-preview-inner-message>
</div>
<!--<div class="groupMessageSpace_mainMessageHolder_message_emojiReaction">
    <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
</div>-->
</div>
</div>
<!--       additional message           -->
<!--<div class="groupMessageSpace_additionalMessageHolder">
<div class="groupMessageSpace_additionalMessageHolder_message friendMessageBackgroundColorStyle">
<div class="groupMessageSpace_additionalMessageHolder_message_floatMenuHolder">
    <div class="groupMessageSpace_additionalMessageHolder_message_floatMenu floatMenuStyle">
        <div class="groupMessageSpace_additionalMessageHolder_message_floatMenu_addEmoji_button" href="addEmojiToEmojiReactionBar">
            <i class="fas fa-smile-wink addEmojiSmile mainIconStyle"></i>
            <i class="fas fa-plus addEmojiPlus mainIconStyle"></i>
        </div>
        <div class="groupMessageSpace_additionalMessageHolder_message_floatMenu_reply_button">
            <i class="fas fa-reply mainIconStyle"></i>
        </div>
        <div class="groupMessageSpace_additionalMessageHolder_message_floatMenu_other_button" >
            <i class="fas fa-ellipsis-h mainIconStyle"></i>
        </div>
    </div>
</div>

<div class="groupMessageSpace_additionalMessageHolder_message_textMessage">
    включая некоторые текстовые элементы  текстовые элементы) любым водителем

</div>
<div class="groupMessageSpace_additionalMessageHolder_message_emojiReaction">
    <i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i><i class="fas fa-smile"></i>
</div>


</div>
</div>-->
</div>