<!doctype html>
<html lang="en-US"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>


</head>
<body>
<app-user-chat-menu [isVisible]="isUserChatMenuVisible" (changeVisible)="userChatMenuVisibleToggle()"></app-user-chat-menu>
<app-group-chat-menu [isVisible]="isGroupChatMenuVisible" (changeVisible)="groupChatMenuVisibleToggle()"></app-group-chat-menu>
<app-main-menu [isVisible]="isMainMenuVisible" (changeVisible)="mainMenuVisibleToggle()"></app-main-menu>
<app-user-menu [isVisible]="isUserMenuVisible" (changeVisible)="userMenuVisibleToggle()"></app-user-menu>
<app-group-menu></app-group-menu>
<app-chat-search-bar [styleToggle]="searchInMessageBarStyle"></app-chat-search-bar>
<div class="main_container">
  <div class="left_main_colum">
		  <div class="left_header">
			<div class="left_header_menuAndSearch">
				<div class = "left_header_menuAndSearch_menu_iconAliner" >
					<button class="left_header_menuAndSearch_menubutton"  ><i class="bi bi-list menuIcon mainIconStyle" (click)="mainMenuVisibleToggle()"></i></button>
				</div>
      
			  <div class="left_header_menuAndSearch_searchInput">
					<input type="text" placeholder="  Search" class="search_input">
				</div>
			</div>
		 
			<!--<div class="left_header_communication_bar">
			  <div class="left_header_communicationBar_addContactButton"><i class="fas fa-user-plus"></i></div>


			  <div class="left_header_communicationBar_addGroupButton"><i class="fas fa-users"></i></div>
			</div>-->
		</div>
	  	<div class="contactList">
			<ng-container *ngFor="let g of groupArray; let i=index">
				<app-friend-group-bar [friendOrGroupData] ="g" (click)="SelectGroup(g.id)" (groupSelected)="GetMessages(g.id)" ></app-friend-group-bar>
			</ng-container>
	  </div>
  </div>
  
  <div class="right_main_colum">
	  <div class="right_header">
		 
		  <div class="right_header_contentWrapLeft" >
			<app-header-info [grpArray]="groupArray"  [selectedGrpId]="selectedGroupId" [isVisible]="isUserMenuVisible" (changeVisible)="userMenuVisibleToggle()" ></app-header-info>
		  	</div>
		  	<div class="right_header_contentWrapRight">
			  <div class="right_header_buttons_bar">
				  <div class="right_header_button right_header_button_search"(click)="searchInMessageButton()"><i class="bi bi-search mainIconStyle" ></i></div>
				  <!-- <div class="right_header_button right_header_button_call"><i class="bi bi-telephone-fill mainIconStyle"></i></div> -->
				  <div class="right_header_button right_header_button_dotmenu" (click)="userChatMenuVisibleToggle()" (click)="groupChatMenuVisibleToggle()"><i class="bi bi-three-dots-vertical mainIconStyle"></i></div>  
				  
			  </div>
		  </div>
		
		  
	  </div>

	<div class="message_bar">
    <div class="messageBarWidthHolder" >
		
		<ng-container *ngFor="let m of messageArray; let i=index" >
			<app-proto-message [message] ="m"></app-proto-message>
		</ng-container>

      </div>
	  </div>
    <div class="response_bar">
		<div class="scrollDownButtonBar"><div class="scrollDownButton"><i class="bi bi-caret-down-fill scrollDownButtonIcon"></i></div></div>
		<div class="response_contentWrap">
			<button class="response_contentWrap_button_sendFile"><i class="bi bi-paperclip mainIconStyle"></i></button>

				<div class="response_inputAliner">
					<div id="newMessage" (resized)="onResized($event)" (keydown)="onKey($event)" class="response_input" placeholder="Write a  message..." contenteditable="true"> </div> 
				</div>

			<button class="response_contentWrap_button_sendMessage responseBarButtons" (click)="WriteMessage()"><i class="bi bi-send-fill mainIconStyle responsBarIcons"></i></button>
			<button class="response_contentWrap_button_emoji responseBarButtons"><i class="bi bi-emoji-smile mainIconStyle "></i></button>
		</div>
	  </div>
  </div>
</div>
</body>
</html>
